.jumbotron {
  background-image: url(./images/beige-tiles.png);
  box-shadow: 0px 0px 10px 2px darkslategray;
}
.container {
  background: rgb(93, 78, 78);
  background: linear-gradient(
    347deg,
    rgba(93, 78, 78, 1) 6%,
    rgba(128, 128, 128, 1) 94%
  );
  border-left: solid 6px orange;
  border-right: solid 6px orange;
  box-shadow: inset 0px 10px 0px 3px black;
  padding-top: 20px;
  margin-top: 0px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translatex(-50%);
  min-height: 110vh;
}
.jumbotron h1 {
  color: darkslategray;
  font-size: 5em;
}

h2 {
  color: white;
  text-shadow: 2px 2px black, -2px 2px black, 2px -2px black, -2px -2px black;
}

body {
  background-color: midnightblue;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}

#comments {
  float: right;
  width: 30%;
  overflow: auto;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #fcf5c7;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}

.article-card {
  background: rgb(211, 211, 211);
  background: linear-gradient(
    180deg,
    rgba(211, 211, 211, 1) 55%,
    rgba(145, 145, 145, 1) 100%
  );
  border: solid 2px darkslategray;
  margin: 5px;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: darkslategrey;
  padding: 5px;
}

.article-card:hover {
  box-shadow: 0px 0px 10px 3px rgb(94, 94, 94);
  transform: scale(1.05);
  margin: 10px;
}

.form-control,
.btn {
  border: solid 2px darkslategrey;
}

::-webkit-scrollbar {
  display: none;
}
